body{
    margin: auto;
}

#A{
    width: 40%;
    height: 100%;
    text-align: center;
    color: #f0f8ff ;
    float: left;
    background-color: blue;
}

#B{
    width: 60%;
    height: 100%;
    text-align: center;
    float: right;
    text-overflow: inherit;
}


#C{
    width: 60%;
    height: 40%;
    text-align: left;
    float: right;
    text-overflow: inherit;
    
}


#D{
    width: 60%;
    height: 15%;
    text-align: center;
    text-decoration-line: underline;
    float: right;
}


#E{
    width: 60%;
    height: 35%;
    text-align: center;
    text-decoration-line: underline;
    float: right;
}